@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: none;
    margin: 0;
    padding: 0;
}

iconify-icon {
    font-size: xx-large;
    margin-right: 1rem;
}

.this-page {
    position: relative;
}

.this-page:after {
    content: '\A';
    position: absolute;
    background: #EFC6C6;
    bottom: 0;
    left: 0; 
    height: 10%;
    width: 100%;
}

header *:not(div) {
    margin: 0;
    padding-top: 0.1rem;
    text-align: center;
    color: white;
}

header h1 {
    font-family: "Poppins", sans-serif;
    color: #FFD9D9;
    opacity: 81%;
}

header{
    width: 100vw;
    height: auto;
    background-image: linear-gradient(rgb(231, 8, 8, 1), rgb(231, 8, 9, 0)); 
    opacity: 67%;
}

.header {
    height: 2.5rem;
}

.left-header, .right-header {
    display: flex;
}

.left-header {
    float: left;
}

.right-header {
    float: right;
}

.left-header a, .right-header a {
    height: 2.5rem;
    width: 7rem;
    padding-bottom: 5%;
	text-align: center;
    display: flex;
    flex-direction: column-reverse;
    text-decoration: none;
    color: black;
}

.right-header div {
    height: 2.5rem;
    width: 9rem;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 5%;
    font-weight: bold;
}

.left-header a:hover, .right-header a:hover {
    background-image: linear-gradient(to top ,#E56868, rgb(256, 0, 0, 0));
    border-radius: 0.3rem;
    color: white;
}

.this-page {
    color: greenyellow;
}

.title-page {
    margin-top: 4rem;
    text-align: center;
}

.content {
    background-image: linear-gradient(#ABB8FF, rgb(256, 0, 0, 0));
    padding: 2rem 5rem;
    border-radius: 5%;
    margin: 4rem 0;
    margin-top: 0;
    position: relative;
}

.content .form {
    width: 50rem;
    align-items: center;
    background-color: none;
    padding: 1.5rem 0.75rem;
    font-size: 1.5rem;
    margin: auto;
}

.content .form div {
    margin: 2rem;
}

.content .form label {
    width: 30%;
}

.content .form input:not(input[type='submit']) {
    float: right;
    width: 60%;
    margin-right: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0px;
    background-color: #f1f1f1;
}

.content .form input:not(input[type='submit']):focus {
    background-color: #ddd;
    outline-color: #ABB8FF;
}

.submit {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.content .form button {
    background-image: linear-gradient(#DBCAFF, rgb(256, 0, 0, 0));
    border: 0;
    width: 30%;
    border-radius: 2.5rem;
    padding: 0.5rem;
    align-items: center;
    font-size: 1.5rem;
}

.confirm {
    display: none;
    color: red;
    font-size: small;
}

.incorrect {
    display: none;
    color: red;
    font-size: smaller;
}

.hotelPage {
    display: block;
}

.hotelPage > a {
    width: 100%;
    margin: 2rem 0rem;
    background-color: none;
    border-radius: 0.5rem;
    display: flex;
}

.hotelPage > a:hover {
    background: lightskyblue;
    z-index: 100;
}

.hotelPage > a img[alt='hotel'] {
    width: 25%;
    border-radius: 1rem;
    object-fit: cover;
    margin-right: 3rem;
}

.hotelPage > a img[alt='rating'] {
    width: 15%;
    object-fit: contain;
}

.hotelPage > a > div > span {
    font-size: small;
    
}

.upside-detail {
    display: flex;
    height: 25rem;
}

.date-type {
    width: 30%;
    padding: 3rem 1.25rem;
    /* background-color: #E56868; */
}

.hotel-info {
    width: 30%;
    /* padding: 0.5rem 0; */
}

.hotel-info > div {
    margin: 3rem 0 0 2.5rem;
}

.hotel-info img {
    width: 40%;
}

.hotel-info > div * {
    margin: 0;
    margin-bottom: 1rem;
}

.hotel-info > div textarea {
    width: 70%;
    height: 5rem;
    vertical-align: top;
    resize: none;
    position: relative;
}

.hotel-info > div button {
    position: relative;
    height: 1.2rem;
    background-color: chartreuse;
    left: -2rem;
    top: 4.1rem;
    border: none;
    display: none;
}

.hotel-info > div button:hover {
    opacity: 70%;
}

.hotel-info > div button:active {
    transform: translateY(1px);
  }

.hotel-info > div button i {
    font-size: 15px;
    color: #f1f1f1;
}

.hotel-preview {
    width: 40%;
    padding: 3rem;
    /* background-color: #DBCAFF; */
}

.hotel-preview img {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
}

.date-type label{
    display: block;
    text-align: center;
}

.date-type input, select {
    width: 100%;
    border-radius: 2rem;
    padding: 0.5rem 0.25rem;
    font-size: medium;
    outline: none;
    margin-bottom: 1.5rem;
}

.date-type input {
    outline: none;
    text-align: center;
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: #00000000;
    opacity: 1;
    display: block;
    background-repeat:  no-repeat;
    width: 1rem;
    height: 1rem;
    border-width: thin
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
}

input::-webkit-datetime-edit-fields-wrapper {
    position: relative;
}

input::-webkit-datetime-edit {
    position: relative;
}

.downside-detail {
    display: flex;
    border-radius: 5%;
}

.downside-detail > div {
    width: 50%;
}

.downside-detail .invoice {
    border-right: solid;
}

.payment-gateway h3 {
    text-align: center;
    /* width: 100%; */
    border-bottom: solid;
    padding-bottom: 0.3rem;
}

.downside-detail > div td {
    width: 15%;
    padding: 1rem 0 1rem 0.5rem;
}

.hotel-information {
    display: flex;
    width: 100%;;
}

.hotel-img {
    width: 33.33%;
    padding: 1.5rem;
    text-align: center;
}

.hotel-adv {
    width: 30%;
    font-size: x-large;
    padding-left: 3rem;
}

.hotel-adv ol {
    padding: 0;
    list-style: none;
}

.hotel-adv li {
    margin: 1rem;
    margin-left: 0;
}

.hotel-adv .room {
    margin-bottom: 10rem;
}

.hotel-img img {
    width: 100%;
    border-radius: 2%;
}

.hotel-price {
    position: absolute;
    right: 0;
    top: 0rem;
    width: 30%;
    height: 100%;
    background-color: white;
    color: #E56868;
}

.hotel-price > div {
    width: 30%%;
    height: 25%;
    padding: 0rem 2rem;
    position: relative;
    border-bottom: solid;
}

.hotel-price div .price-value {
    position: absolute;
    right: 2rem;
    bottom: 0;
}

.hotel-price button {
    float: right;
    margin-top: 2rem;
    margin-right: 2rem;
}

footer {
	width: 100vw;
	height: 6rem;
	background-color: #202224;
	position: static;
	color: white;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer div {
	display: flex;
	font-size: 10px;
	margin: 20px 0;
}

.socialmedia{
	margin: 0.4rem 0.5rem;
	height: 20px;
}