html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: none;
    margin: 0;
    padding: 0;
}

.this-page {
    position: relative;
}

.this-page:after {
    content: '\A';
    position: absolute;
    background: #EFC6C6;
    bottom: 0;
    left: 0; 
    height: 10%;
    width: 100%;
}

header *:not(div) {
    margin: 0;
    padding-top: 0.1rem;
    text-align: center;
    color: white;
}

header{
    width: 100vw;
    height: auto;
    background-image: linear-gradient(rgb(231, 8, 8, 1), rgb(231, 8, 9, 0)); 
    opacity: 67%;
}

.header {
    height: 2.5rem;
}

.left-header, .right-header {
    display: flex;
}

.left-header {
    float: left;
}

.right-header {
    float: right;
}

.left-header a, .right-header a {
    height: 2.5rem;
    width: 7rem;
    padding-bottom: 5%;
	text-align: center;
    display: flex;
    flex-direction: column-reverse;
    text-decoration: none;
    color: black;
}

.right-header div {
    height: 2.5rem;
    width: 9rem;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 5%;
    font-weight: bold;
}

.left-header a:hover, .right-header a:hover {
    background-image: linear-gradient(to top ,#E56868, rgb(256, 0, 0, 0));
    border-radius: 0.3rem;
    color: white;
}

.this-page {
    color: greenyellow;
}

.title-page {
    margin-top: 4rem;
    text-align: center;
}

.content {
    background-image: linear-gradient(#ABB8FF, rgb(256, 0, 0, 0));
    padding: 2rem 5rem;
    border-radius: 5%;
    margin: 4rem 0;
    margin-top: 0;
}

.content .form {
    width: 50rem;
    align-items: center;
    background-color: none;
    padding: 1.5rem 0.75rem;
    font-size: 1.5rem;
    margin: auto;
}

.content .form div {
    margin: 2rem;
}

.content .form label {
    width: 30%;
}

.content .form input:not(input[type='submit']) {
    float: right;
    width: 60%;
    margin-right: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0px;
    background-color: #f1f1f1;
}

.content .form input:not(input[type='submit']):focus {
    background-color: #ddd;
    outline-color: #ABB8FF;
}

.submit {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.content .form button {
    background-image: linear-gradient(#DBCAFF, rgb(256, 0, 0, 0));
    border: 0;
    width: 30%;
    border-radius: 2.5rem;
    padding: 0.5rem;
    align-items: center;
    font-size: 1.5rem;
}

.confirm {
    display: none;
    color: red;
    font-size: small;
}

.incorrect {
    display: none;
    color: red;
    font-size: smaller;
}

.hotelPage {
    display: block;
}

.hotelPage > a {
    width: 100%;
    margin: 2rem 0rem;
    background-color: none;
    border-radius: 0.5rem;
    display: flex;
}

.hotelPage > a:hover {
    background: lightskyblue;
    z-index: 100;
}

.hotelPage > a img[alt='hotel'] {
    width: 25%;
    border-radius: 1rem;
    object-fit: cover;
    margin-right: 3rem;
}

.hotelPage > a img[alt='rating'] {
    width: 15%;
    object-fit: contain;
}

.hotelPage > a > div > span {
    font-size: small;
    
}

.hotel-pict {
    display: flex;
}

.hotel-pict > img {
    width: 35%;
    height: 400px;
    margin: 4px;
}

.hotel-pict > div {
    height: 400px;
    width: 21.67%;
    display: flex;
    flex-direction: column;
    margin: 4px;
}

.hotel-pict > div img {
    width: 100%;
    height: 50%;
}

.hotel-pict > div img[alt='first'] {
    margin-bottom: 4px;
}

.hotel-pict > div img[alt='second'] {
    margin-top: 4px;
}

footer {
	width: 100vw;
	height: 6rem;
	background-color: #202224;
	position: static;
	color: white;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer div {
	display: flex;
	font-size: 10px;
	margin: 20px 0;
}

.socialmedia{
	margin: 0.4rem 0.5rem;
	height: 20px;
}